:root {

  --color-orange: #f96f0c;
  --color-light-grey: #d4d4dc;
  --color-middle-grey: #393f4d;
  --color-dark: #1d1e22;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
  padding: 3rem 0;
}

a {
  color: var(--color-orange);
  font-weight: bold;
  text-decoration: none;
}
.buttonGroup {
  display: flex;

}
.button {
  background: var(--color-orange);
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 0;
  border-radius: .6rem;
  margin-right: 1rem;
  cursor: pointer;
}