.navContainer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-dark);
}

.navContainer .navContainerContent {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
}
.navContainer .navContainerContent a {
  text-decoration: none;
  color: var(--color-orange);
  margin-right: 1rem;
}